@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
 
:root {
    --primary-color: #1B98E0;
    --secondary-color: black;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC";
}
 
body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
 
header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1em;
    text-align: center;
    width: 100%;
}
 
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.logo img {
    max-width: 100px;
    height: 100px;
    transform: translate(10%, -10%);
}
 
header h1 {
    font-family: var(--secondary-font);
    font-size: 2.5em;
    margin: 0.5em;
    display: flex;
}
 
.recipe-article {
    display: flex;
    align-items: flex-start;
}
 
.recipe-image {
    max-width: 100%;
    width: 300px;
    height: auto;
    margin: 1.5em 2em 0 2em;
}
 
.recipe-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
 
.tags {
    display: flex;
    margin-bottom: 0.9em;
}
 
h3.tag {
    background-color: var(--primary-color);
    color: black;
    padding: 0.3em 0.5em;
    margin: 0.5em;
    border-radius: 3px;
    font-size: 0.9em;
    position: relative;
    left: 390px;
    bottom: 250px;
}
 
.rating {
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}
 
.icon-star, .icon-star-empty {
    font-size: 1.2em;
    margin-right: 0.2em;
}
 
.icon-star {
    color: gold;
}
 
.icon-star-empty {
    color: grey;
}
 
.recipe-title {
    margin: 40px 0 10px;
}
 
.recipe-description {
    margin-top: 30px;
}
 
.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}
 
.search-form input[type="text"] {
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 100%;
    max-width: 600px;
    margin-top: 25px;
}
 
.search-form button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-light);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-top: 25px;
}
 
.recipe {
    margin-bottom: 2em;
}

footer{
    background-color: var(--primary-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
}
 
.social a {
    margin-left: 1em;
}
 
.social img {
    width: 30px;
    height: auto;
}