body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  li {
    text-align: right;
    justify-content: right;
  }

  h1 {
    margin: 0;
    text-align: center;
    justify-content: right;

  }
  
  nav {
    display: flex;
    padding: 0;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  h3 {
      width:50px;
      margin:50px ;
      float:right;
      top: 50px;
  }

  p{
    justify-content: center;
  }
 
  aside {
    float: right;
    margin-right: 0px;
    justify-content: center;
    top: auto;
  }
  
  .filters {
    clear: both;
    margin-top: 20px;
    justify-content: right;
    justify-items: right;
   
  }
  
  .filters p {
    margin-bottom: 5px;
    
    
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 10px;
  }
  